* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
 /* background-color: #191931; */
 background: linear-gradient(30deg, #191931,#212144, #1c1729, #140c2c);
 background-size: 450% 450%;
 animation: gradient 10s ease infinite;
  color: #e1e1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Outfit", sans-serif;
  padding-top: 4rem;
  padding-bottom: 2rem;
  gap: 1rem;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.bg-text-animation {
  position: fixed;
  top: 10rem;
  font-size: 8rem;
  text-transform: uppercase;
  font-weight: 900;
  -webkit-text-stroke: 2px #2d2d56;
  -webkit-text-fill-color: transparent;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  z-index: -1;
  user-select: none;
}

.my-photo {
  width: 10rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top;
}

a {
  text-decoration: none;
  color: inherit;
}

.sosmed i {
  font-size: 1.5rem;
  color: #8787a3;
}

.sosmed i:hover {
  color: white;
}

.sosmed a:not(:last-child) {
  margin-right: 1rem;
}

ul {
  width: 80%;
  max-width: 40rem;
}

ul li {
  list-style: none;
}

ul.links li:not(:last-child) {
  margin-bottom: 1rem;
}

.links {
  margin-top: 1rem;
}

.link-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
 /* background-color: #2d2d56;*/
  gap: 1rem;
  padding: 0.3rem;
  border-radius: 20px;
  box-shadow: 8px 10px 0 #0f0f25;
  border: 2px solid #2d2d56;
}

.link-card:hover {
  border: 2px solid white;
}

.links .link-icon {
  background-image: linear-gradient(to top, rgb(40, 30, 56), rgba(0, 162, 255, 0.658));
  padding: 0.5rem;
  border-radius: 25px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links .link-icon i {
  color: white;
}

.links .link-text {
  text-align: center;
}

.link-action {
  color: #8787a3;
  cursor: pointer;
  padding: 10px;
}

.copyright {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color: #8787a3;
  font-size: 0.75rem;
}

.copyright img {
  width: 2rem;
  opacity: 0.4;
}

#toast {
  width: max-content;
  position: fixed;
  top: 0;
}

.toast-container {
  background-color: white;
  color: #0f0f25;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  animation: muncul 300ms ease-in-out;
}

.toast-gone {
  animation: hilang 1s ease-in-out 1s;
}

@keyframes muncul {
  from {
    opacity: 0;
    transform: translateY(-4rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hilang {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

h2 {
  position: relative;
  font-size: 2em;
  color: #2d2d5600;
}

h2::before {
  content: attr(data-text);
  position: absolute;
  color: #fff;
  width: 350px;
  overflow: hidden;
/*  white-space: nowrap; 
  border-right: 4px solid #fff;
  animation: anim-text 7s linear infinite; */
  filter: drop-shadow(0 0 10px #fff) drop-shadow(0 0 40px #fff);
}

@keyframes anim-text {
  0%,10%,100%
  {
      width: 0;
  }
  70%,90%
  {
      width: 100%;
  }
}

.box {
  position: relative;
  width: 150px;
  height: 150px;
  background: rgba(253, 253, 253, 0.123);
  border-radius: 50%;
  overflow: hidden;
}

.box::before{
  content: '';
  position: absolute;
  inset: -10px 50px;
  background: linear-gradient(300deg, #00ccff, #d400d4);
  transform: 0.5s;
  animation: ani-box 4s linear infinite;
}

@keyframes ani-box {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.box::after{
  content: '';
  position: absolute;
  inset: 3px;
  background: #161549;
  border-radius: 50%;
  z-index: 1;
}

.content{
  position: absolute;
  inset: 10px;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
}

.content img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
}

h1{
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  padding: 0 100px;
}

h1 span{
  position: relative;
  color: rgba(255, 255, 255, 0);
  animation: displayText 9s infinite;
  animation-delay: calc(-3s * var(--i));
}

@keyframes displayText {
  0%{
    display: inline-block;
  }
  33.33%, 100%{
    display: none;
  }
}

h1 span::before{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #01f6fe;
  overflow: hidden;
  border-right: 4px solid #01f6fe;
  filter: drop-shadow(0 0 5px #01f6fe) drop-shadow(0 0 25px #01f6fe);
  animation: anim-jalan 3s linear infinite;
}

@keyframes anim-jalan {
  0%, 10%, 100% {
    width: 0;
  }
  70%, 90% {
    width: 100%;
  }
}